/* Styles for the home screen */

.root {
    -fx-background-color: #f0f8ff; /* Soft background color */
    -fx-padding: 20; /* Internal spacing */
    -fx-alignment: center; /* Center the elements */
}

.label {
    -fx-font-size: 24px; /* Larger font size */
    -fx-font-weight: bold; /* Bold */
    -fx-text-fill: #2c3e50; /* Text color */
    -fx-padding: 10; /* Spacing around text */

}

.button {
    -fx-font-size: 18px; /* Font size */
    -fx-background-color: #3498db; /* Button background color */
    -fx-text-fill: white; /* Button text color */
    -fx-padding: 10 20; /* Internal spacing of button */
    -fx-background-radius: 5; /* Rounded edges */
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.3), 5, 0.0, 0, 1); /* Shadow on the button */
}

.button:hover {
    -fx-background-color: #2980b9; /* Background color on hover */
}

.sudoku-cell-suggestion {
    -fx-background-color: lightblue;
}